* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: linear-gradient(300deg, rgb(233, 239, 233), rgb(0, 110, 88));
    min-height: 100vh;
}

.head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    border-bottom: 2px solid #0a4641;
    color: white;
}

.logo {
    color: #00ECD8;
}

span {
    color: #0a4641;
}

.inputList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
}

.font {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    box-shadow: 0px 0px 10px #0a4641;
    padding: 50px;
    border-radius: 10px;
}

input {
    width: 250px;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    box-shadow: 0px 0px 5px #0a4641;
    color: white;
}

input::placeholder {
    color: #00ECD8;
}

input:focus {
    outline: 0;
}

#back {
    width: 50%;
    height: 86vh;
    box-shadow: 0px 0px 10px #0a4641;
    padding: 50px;
    border-radius: 10px;
}











































.btn {
    border: 2px solid #00ECD8;
    background: none;
    padding: 4px 45px;
    font-size: 20px;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    color: #00ECD8;
    box-shadow: 0px 0px 10px #0a4641;
}

.btn:hover {
    color: #0a4641;
    box-shadow: 0px 0px 10px #445352;
    border: 2px solid #0a4641;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #0a4641;
    z-index: -1;
    transition: 0.8s;
}

.btn::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn::before {
    height: 180%;
}

.btn:hover::before {
    height: 0%;
}